body {
    font-size: 16px;
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    /*background: linear-gradient(to bottom, rgb(6, 17, 60), rgb(255, 140, 50));*/
    background-color: black;
    color: white;
}
* { 
    box-sizing: border-box;
}
.details_page { 
    display: block;
}
.navbar { 
    
    padding: 7px 15px;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
}
.navbar::after { 
    content: "";
}
.logo_container{ 
    font-weight: 600;
    margin: 0;
}
.logo_container span{ 
    color: red;
}
.greeting_container { 
    padding: 15% 4%;
    font-size: 1.4rem;
    color: white;
    font-weight: 550
}
.search_bar_container {
    width: 90%;
    display: flex;
    margin: auto;
}
.search_bar_container input { 
    width: 70%;
    padding: 10px;
    outline: none;
    border-radius: 20px 0 0 20px;
    border: 1px solid white;
    border-right-width: 0;
    color: white;
    background-color: transparent;
}
.search_bar_container button { 
    width: 30%;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}
.search_bar_container button:hover { 
    background-color: red;
    border: 1px solid red;
}
.film_list { 
    margin: 10% 0;
}
.film_list h2 { 
    margin-left: 5px;
}
.slides { 
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    overflow: scroll;
}
.slides div { 
    scroll-snap-align: start; 
    scroll-snap-stop: always; 
    margin: 0 10px;
    border-radius: 6px;
}
.xl-slide>div { 
    flex: 1 0 90%;
    height: 550px;
    position: relative;
    opacity: 1;
}
.xl-slide>div:hover .slide_info,
.sm-slide>div:hover .slide_info{ 
    opacity: 1;
}
.sm-slide>div { 
    flex: 1 0 45%;
    height: 250px;
    position: relative;
    opacity: 1;
}
.movie_pic { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: 1; 
}
.slide_info { 
    position: absolute;
    bottom: 0; left:-9px;
    padding: 5%;
    width: 100%;
    height: 35%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
    z-index: 3;
    opacity: 0;
    transition: .5s;
}
.title, .title-sm { 
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    display: block;
    font-weight: bolder;
}
.slide_info .title-sm { 
    font-size: 1rem;
}
.slide_info .genre, .trend_number, .brief_synopsis { 
    opacity: 0.8;
    display: block;
}
.slide_info button { 
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 0;
    padding: 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
}
.trend_div { 
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
}
.upcoming_button, .new_movies_button { 
    height: 25px;
    width: 25px;
    padding: 0;
    
}
.upcoming_button material-icons-outlined, .new_movies_button .material-icons-outlined { 
    font-size: 0.8rem;
}
.trend_number { 
    font-size: 10px;
    display: inline-block;
    background-color: red;
    padding: 3px 5px;
    border-radius: 20px;
    animation: flashing 3s infinite;
}
@keyframes flashing { 
    0% { opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}
.search_results_container { 
    display: none;
}


.backdrop_container { 
    position: relative;
    width: 100%;
    height: 60vh;
}
.detail_title { 
    position: absolute;
    bottom:0px; left: 0; right: 0;
    height: 30%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1))
}
.detail_title .title { 
    position: absolute;
    bottom: 0; left: 0; right: 0;
}
.details_container { 
    margin: 0 10%;
    text-align: center;
    opacity: 0.7;
    border-bottom: 1px solid white;
}
.actor_tray { 
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: space-between;
}
.actor_tray>div { 
    flex: 1 0 60%;
    margin: 8px;
}
.actor_tray>div>div { 
    padding: 5px 1px;
    border-radius: 50px;
    margin-bottom: 8px;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.actor_pic { 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
